html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.sidebar {
  width: 280px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

button.buttons-html5 {
  margin-top: 5px;
  margin-right: 5px;
}